%ul.chat_groups
  %li.chat-group
    = link_to new_group_message_path(group), class: 'chat-group__link' do
      %p.chat-group__name
        = group.name
      %p.chat-group__message
        = group.show_last_message
