.flash-messages{
  text-align: center;
  line-height: 50px;

  &__notice{
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
  }

  &__alert{
    background-color: #FEF1EC;
    border-color: #CD0A0A;
    color: #CD0A0A;
  }
}
